@import url(sanitize.css);

header{
    background-color: turquoise;
    color: white;
    height:  90px;
}

body {
    font-size: 20px;
}

header h1{
    margin-top: 0;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.container{
    padding: 10px;
}

.container img{
    width: 200px;
}
