@import url(sanitize.css);

header{
    background-color: turquoise;
    color: white;
    height:  90px;
}

header h1{
    margin-top: 0;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

button {
    background-color: rgb(228, 228, 228);
    width: 250px;
    height: 250px;
    margin: 100px 0;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(61, 61, 61);
}