h1.pict_title {
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px rgb(0, 162, 255);
    margin: 20px 200px;
  }
  
  
.rule{
    text-align: center;
    font-size: 1.1em;
    padding: 10px 0px 40px 0px;
}


.example{
    font-size: 20px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
}

img{
    width: 250px;
    margin: 20px 40px;
}


.start{
    clear: left;
    text-align: center;
    margin: 30px;
}

.link_button{
    font-size: 30px;
    color: white;
    background-color: rgb(0, 162, 255);
    padding: 10px 50px;
    margin: 10px 70px;
    border-radius: 10px;
}

.buttons{
    margin: 20px;
}